<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- Remove todas as fontes definidas por padrão -->
    <clear />
    <!-- Adiciona apenas o nuget.org como fonte de pacotes -->
    <add key="NuGet.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
</configuration>